Analysis/NetworkManager/New Unity Project/Library/**
Analysis/NetworkManager/New Unity Project/Temp/**
Analysis/KillEveryoneOnClick/Kill Everyone On Click/Library/**
Analysis/KillEveryoneOnClick/Kill Everyone On Click/Temp/**
Analysis/AndroidTest/AndroidTest/Library/*
Analysis/AndroidTest/Build/*
Analysis/ARCoreCodelab/Codelab/Library/*
Analysis/ConePlacer/ConePlacer/Library/*
Analysis/Unity2019Test/New Unity Project (1)/Library/*
Analysis/Unity2019Test/New Unity Project (2)/Library/*
Analysis/Unity2019Test/UNET test/Library/*
Analysis/Unity2019Test/New Unity Project/Library/*
Analysis/Unity2019Test/New Unity Project/Assets/GoogleARCore/*
Analysis/SphereAtPlayerLocation/Sphere at Player Location/Library/*
Analysis/WorldToLocal/World To Local Transform test/Library/*