Analysis/NetworkManager/New Unity Project/Library/**
Analysis/NetworkManager/New Unity Project/Packages/manifest.json
Analysis/NetworkManager/New Unity Project/ProjectSettings/
Analysis/NetworkManager/New Unity Project/Temp/UnityLockfile